'scopeName': 'source.ai'
'name': 'ai'
'fileTypes': ['ai'
  'behavior'
  'behaviour'
  'tree'
]
'patterns':[
  {
    'match':'\\b(?i:(0x\\h*))(\\.[0-9]+)*'
    'name':'constant.numeric.integer.hexadecimal'
  }
  {
    'match':'\\b[0-9]+(\\.[0-9]*)*\\b'
    'name':'constant.numeric.float'
  }
  {
    'match': '//.*|#.*'
    'name': 'comment.line.double-slash'
  }
  {
    'name':'comment.block.documentation'
    'begin':'/\\*'
    'end':'\\*/'
  }
  {
    'match':'\\b(?i)(tree|sequence|mute|race|parallel|fallback|random|repeat|while|not|and|or|selector|until|wait|yeah|nope|yes|no|trigger|triggers|tasks|fail|success|running|task|true|false)(?i)\\b'
    'name':'keyword'
  }
  {
      'begin': '"'
      'beginCaptures':
        '0':
          'name': 'punctuation.definition.string.begin'
      'end': '"'
      'endCaptures':
        '0':
          'name': 'punctuation.definition.string.end'
      'name': 'string.quoted.double'
      'patterns': [
        {
          'include': 'punctuation.definition.string.begin'
        }
        {
          'include': 'punctuation.definition.string.end'
        }
        {
          'match': '\\\\.'
          'name': 'constant.character.escape'
        }
      ]
    }
    {
      'begin': '\''
      'beginCaptures':
        '0':
          'name': 'punctuation.definition.string.begin'
      'end': '\''
      'endCaptures':
        '0':
          'name': 'punctuation.definition.string.end'
      'name': 'string.quoted.double'
      'patterns': [
        {
          'include': 'punctuation.definition.string.begin'
        }
        {
          'include': 'punctuation.definition.string.end'
        }
        {
          'match': '\\\\.'
          'name': 'constant.character.escape'
        }
      ]
    }
]
